@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	/* borderとpaddingを含めたwidth,heightの設定とする */
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset {
	vertical-align: bottom;
}

img {
	vertical-align: bottom;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

figure {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}

ol,
ul {
	list-style-type: none;
}

input, select {
	vertical-align: middle;
}

/*clearfix-------------------------------*/

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}